@font-face {
  font-family: 'notosans-light';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansThai-Light.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'notosans-regular';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansThai-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'notosans-medium';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansThai-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'notosans-bold';
  font-style: normal;
  font-weight: normal;
  src: url('./NotoSansThai-Bold.ttf') format('truetype');
  font-display: swap;
}